/*!
* Version: 1.2.0
* Template: Example Project
* Author: iqonic.design
* Design and Developed by: iqonic.design
* NOTE: This file contains the styling for Template.
*
*/
:focus {
  outline: none;
}

.sign-bg {
  position: absolute;
  left: 0;
  top: 0;
}
.sign-bg.sign-bg-right {
  left: auto;
  right: 0;
}

.gradient-main {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.login-bottom {
  margin-top: -12.5rem;
}

@media (min-width: 1400px) {
  .auth-card {
    padding: 0 6.25rem;
  }
}
@media (max-width: 575.98px) {
  .login-header {
    height: 12.5rem !important;
  }

  .login-bottom {
    margin-top: -6.25rem;
  }
}
.card .iq-dashed-border {
  padding: 1.5rem;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
  border: 1px dashed #ced4da;
}
.card .card-body .grid-flow-col {
  grid-auto-flow: column;
}
.card .card-body .iq-icon-box-2 {
  height: 36px;
  width: 36px;
  min-width: 36px;
  line-height: 36px;
  background: #F5F6FA;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
}
.card .card-body .iq-media-group-1 .iq-media-1 {
  margin-left: -1.25rem;
  position: relative;
  z-index: 0;
}
.card .card-body .iq-media-group-1 .iq-media-1:hover {
  z-index: 9;
}
.card .card-body .iq-media-group-1 .iq-media-1 img {
  border: 2px solid #eee;
}
.card .card-body .iq-media-group-1 .iq-media-1:first-child {
  margin-left: 0;
}
.card .card-body .iq-media-group-1 .iq-media.border {
  border: 2px solid #eee;
}
.card .card-body .iq-media-1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-border-radius: 0.25rem;
          border-radius: 0.25rem;
}
.card .card-body .iq-media-1:hover {
  text-decoration: none;
}

.pricing .table thead tr {
  background-color: unset;
}
.pricing .table th {
  border-top: none;
  border-bottom: 1px solid #eee;
}
.pricing .table td {
  border-top: none !important;
}
.pricing .table tr {
  border-bottom: 1px solid #eee;
}

.prc-box {
  background: #d8ddfa;
  padding: 15px;
  position: relative;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
  cursor: pointer;
}

.type {
  position: absolute;
  background: #FFC700;
  padding: 9px 25px;
  color: #fff;
  top: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 500;
}
.type:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  right: -15px;
  top: 0px;
  border-left: 15px solid #0c112e;
  border-top: 15px solid transparent;
}
.type:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: -15px;
  top: 0px;
  border-right: 15px solid #0c112e;
  border-top: 15px solid transparent;
}

.prc-box.active {
  background: #FFC700;
}
.prc-box.active .h3 {
  color: #fff;
}
.prc-box.active .type {
  background: #d8ddfa;
  color: #212529;
}
.prc-box.active .type:before {
  border-left: 16px solid #0c112e;
  right: -16px;
}
.prc-box.active .type:after {
  border-right: 16px solid #0c112e;
  left: -16px;
}

.prc-wrap {
  border-bottom: none !important;
}

.child-cell.active {
  color: #FFC700;
  stroke: #FFC700;
}

.line-around {
  border-bottom: 1px solid #eee;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.line-around .line-around-1 {
  text-transform: uppercase;
  background: #fff;
  padding: 0 10px 0 0;
}

.iq-single-card {
  -webkit-border-radius: 0 0.5rem 0.5rem 0;
          border-radius: 0 0.5rem 0.5rem 0;
}

@media (max-width: 767.98px) {
  .iq-single-card {
    -webkit-border-radius: 0 0 0.5rem 0.5rem;
            border-radius: 0 0 0.5rem 0.5rem;
  }
}
.iq-star-inserted .iq-star-inserted-1.col {
  padding-right: unset;
}
.iq-star-inserted .iq-star-inserted-2 {
  z-index: 2;
}
.iq-star-inserted .iq-star-inserted-2.col {
  padding: unset;
}
.iq-star-inserted .iq-star-inserted-2.col .card {
  height: 100%;
}
.iq-star-inserted .iq-star-inserted-3.col {
  padding-left: unset;
}

@media (max-width: 991.98px) {
  .iq-star-inserted .card.my-5 {
    margin: unset !important;
    margin-bottom: 2rem !important;
  }
  .iq-star-inserted .iq-star-inserted-1.col {
    padding-right: -webkit-calc(var(--bs-gutter-x) / 2);
    padding-right: calc(var(--bs-gutter-x) / 2);
  }
  .iq-star-inserted .iq-star-inserted-2.col {
    padding-right: -webkit-calc(var(--bs-gutter-x) / 2);
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: -webkit-calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
  }
  .iq-star-inserted .iq-star-inserted-2.col .card {
    height: unset;
    margin-bottom: 2rem !important;
  }
  .iq-star-inserted .iq-star-inserted-3.col {
    padding-left: -webkit-calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
  }
}
.body-class-1 {
  scroll-behavior: smooth;
}

.main-img .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.main-img .container h1 {
  margin: 0;
  font-size: 4.375rem;
  color: #fff;
}
.main-img .container h1 span {
  padding: 0.375rem 0.875rem;
  display: inline-block;
}

.bd-heading-1 .bd-example {
  margin-top: 1rem;
}
.bd-heading-1 .bd-example:first-child {
  margin-top: 0rem;
}

.bd-cheatsheet {
  margin-top: -2rem;
}
.bd-cheatsheet section article .card.iq-document-card {
  padding: 1.5rem;
}
.bd-cheatsheet section article .card.iq-document-card .tab-content pre.language-markup {
  margin: unset;
}

.bd-aside.card.iq-document-card {
  padding: 1.5rem;
  margin-top: -2rem;
}

/* Table of contents */
.bd-aside a {
  padding: 0.25rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 0.25rem;
  color: rgba(138, 146, 166, 0.95);
  text-decoration: none;
}
.bd-aside a:hover, .bd-aside a:focus {
  background-color: rgba(58, 87, 232, 0.1);
}
.bd-aside .active {
  font-weight: 600;
  background-color: rgba(58, 87, 232, 0.1);
  color: #FFC700;
}
.bd-aside .btn {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: #8A92A6;
  border: 0;
}
.bd-aside .btn .right-icon {
  -webkit-transition: -webkit-transform 0.35s ease;
  transition: -webkit-transform 0.35s ease;
  -o-transition: transform 0.35s ease;
  transition: transform 0.35s ease;
  transition: transform 0.35s ease, -webkit-transform 0.35s ease;
}
.bd-aside .btn:hover, .bd-aside .btn:focus {
  background-color: rgba(58, 87, 232, 0.1);
  color: #FFC700;
}
.bd-aside .btn:focus {
  -webkit-box-shadow: 0 0 0 0.063rem rgba(58, 87, 232, 0.7);
          box-shadow: 0 0 0 0.063rem rgba(58, 87, 232, 0.7);
}
.bd-aside .btn[aria-expanded=true] .right-icon {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.scrollspy-example {
  position: relative;
  height: 12.5rem;
  margin-top: 0.5rem;
  overflow: auto;
}

[id=modal] .bd-example .btn,
[id=buttons] .bd-example .btn,
[id=tooltips] .bd-example .btn,
[id=popovers] .bd-example .btn,
[id=dropdowns] .bd-example .btn-group,
[id=dropdowns] .bd-example .dropdown,
[id=dropdowns] .bd-example .dropup,
[id=dropdowns] .bd-example .dropend,
[id=dropdowns] .bd-example .dropstart {
  margin-top: 0.5rem;
}

/* Layout */
@media (min-width: 1200px) {
  .body-class-1 {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
  }

  .bd-aside.sticky-xl-top {
    top: 2rem !important;
  }

  .bd-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    grid-column: 1/span 3;
  }

  .sticky-xl-top {
    z-index: 2;
  }

  .bd-cheatsheet, .bd-cheatsheet section, .bd-cheatsheet article {
    display: grid;
    gap: 2rem;
    grid-template-columns: 3fr 1fr;
    grid-column: span 2/span 2;
    grid-template-rows: auto;
  }

  .bd-aside {
    grid-area: 1/1;
    scroll-margin-top: 4rem;
  }

  .bd-cheatsheet section, .bd-cheatsheet section > .iq-side-content {
    top: 2rem;
    scroll-margin-top: 0;
  }

  .bd-cheatsheet article, .bd-cheatsheet .bd-heading {
    top: -webkit-calc(7.2rem + 2rem);
    top: calc(7.2rem + 2rem);
    scroll-margin-top: -webkit-calc(7.8rem + 2rem);
    scroll-margin-top: calc(7.8rem + 2rem);
  }
  .bd-cheatsheet .bd-heading {
    z-index: 1;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .bd-cheatsheet .bd-heading .card {
    margin-bottom: 0;
  }
  .bd-cheatsheet article .iq-document-card {
    margin-bottom: unset;
  }
  .bd-cheatsheet article .iq-document-card.iq-doc-head {
    margin-top: -6.8rem;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .mobile-offcanvas {
    width: 40% !important;
  }
}
@media (max-width: 767.98px) {
  .main-img .container h1 {
    font-size: 3.125rem;
  }
}
@media (max-width: 1199.98px) {
  .header .container {
    max-width: unset !important;
  }

  aside.mobile-offcanvas {
    margin-top: unset !important;
  }
  aside.mobile-offcanvas .offcanvas-header {
    display: block;
  }

  .body-class-1 {
    padding: unset;
  }
  .body-class-1.container {
    max-width: unset;
  }

  #content .iq-side-content .card {
    margin-top: 1.25rem;
  }

  .mobile-offcanvas {
    visibility: hidden;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-border-radius: 0;
            border-radius: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1200;
    width: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    background: #ffffffd6;
    -webkit-backdrop-filter: blur(0.5rem);
            backdrop-filter: blur(0.5rem);
  }

  .mobile-offcanvas.show {
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .mobile-offcanvas .container, .mobile-offcanvas .container-fluid {
    display: block;
  }
}
@media (min-width: 1200px) {
  .bd-aside.card.iq-document-card, .bd-cheatsheet {
    margin-top: -3rem;
  }

  aside.mobile-offcanvas .offcanvas-header {
    display: none;
  }

  .bd-cheatsheet section .iq-side-content {
    grid-column-end: 3;
  }
  .bd-cheatsheet section .iq-side-content .card {
    margin-bottom: 0;
  }
}
body.offcanvas-active {
  overflow: hidden;
}

body.uikit .btn-download {
  display: none;
}

.uisheet.screen-darken {
  height: 100%;
  width: 0%;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(33, 37, 41, 0.6);
  -webkit-transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
  -o-transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
  transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
}
.uisheet.screen-darken.active {
  z-index: 10;
  -webkit-transition: opacity 0.3s ease, width 0s;
  -o-transition: opacity 0.3s ease, width 0s;
  transition: opacity 0.3s ease, width 0s;
  opacity: 1;
  width: 100%;
  visibility: visible;
}

#back-to-top {
  display: inline !important;
}
#back-to-top .top {
  bottom: 1.563rem;
  right: 1.563rem;
  z-index: 999;
}

.middle {
  display: inline !important;
}
.middle .mid-menu {
  position: fixed;
  top: 9.375rem;
  left: 0rem;
  z-index: 999;
  text-align: center;
  cursor: pointer;
  background: #FFC700;
  color: #fff;
  padding: 0.2rem;
  -webkit-border-radius: 0 1rem 1rem 0;
          border-radius: 0 1rem 1rem 0;
}

.top-1 {
  top: 1rem;
}